.venv/
__pycache__/
.ipynb_checkpoints/
*.log
.mypycache__/
ref/
fid_test/imagenet_samples/
fid_test/generated_images/
fid_test/coco_samples/
fid_test/.venv/
fid_test/__pycache__/
fid_test/.mypycache__/
fid_test/.env
fid_test/wandb/
Testing_project/data/
Testing_project/.venv/
Testing_project/__pycache__/
Testing_project/.mypycache__/
assets/
.claude/
Testing_project/__pycache__/
Testing_project/.mypycache__/
Testing_project/.env
Testing_project/wandb/  
Testing_project/report
Testing_project/scripts/wandb/
Testing_project/scripts/.venv/
Testing_project/scripts/__pycache__/
Testing_project/scripts/.mypycache__/
Testing_project/scripts/.env
Testing_project/checkpoints/
Testing_project/generated/
Testing_project/scripts/data/





